body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.search-container {
    text-align: center;
}

h1 {
    color: #333;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search-results {
    margin-top: 20px;
    text-align: left;
}

.result-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result-item:hover {
    background-color: #f9f9f9;
}

.version{
  position: fixed;
  bottom: 10px;
  left: 10px;
}
